
src/Gradebook/bin/Debug/netcoreapp3.1/Gradebook.dll
src/Gradebook/bin/Debug/netcoreapp3.1/Gradebook.pdb
src/Gradebook/obj/Gradebook.csproj.nuget.cache
src/Gradebook/obj/Gradebook.csproj.nuget.dgspec.json
src/Gradebook/obj/project.assets.json
src/Gradebook/obj/Debug/netcoreapp3.1/Gradebook.assets.cache
src/Gradebook/obj/Debug/netcoreapp3.1/Gradebook.csproj.FileListAbsolute.txt
src/Gradebook/obj/Debug/netcoreapp3.1/Gradebook.dll
src/Gradebook/obj/Debug/netcoreapp3.1/Gradebook.pdb
